{% extends 'base/base.html' %}
{% load static %}
{% block title %}Login | {{ block.super }}{% endblock %}
{% block cssplus %}<style>#mainNav {background-color: #212529;}</style>{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
    <section class="footer-bottom">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-4 mx-auto">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="text-center">
                            <h3 class="text-uppercase mb-4 mt-5">Iniciar sessão</h3>
                        </div>
                        <p>
                            <input type="text" name="username" autofocus maxlength="254" required id="id_username" class="form-control" placeholder="User"/>
                        </p>
                        <p>
                            <input type="password" name="password" required id="id_password" class="form-control" placeholder="Password"/>
                        </p>
                        <p>
                            <input type="submit" class="btn btn-primary btn-block col-md-4 mx-auto" value="Acesso">
                        </p>
                        {% if form.non_field_errors %}
                            <p style="color:red;">
                                Nome de usuário ou senha incorretos, tente novamente.
                            </p>
                        {% endif %}
                    </form>
                    <p>
                        <!--Forgot your password?, can be restored from-->
                        Se você esqueceu sua senha?, pode recuperá-a desde
                        <a href="{% url 'password_reset' %}">
                            <!--here-->aqui
                        </a>
                    </p>
                    {% if 'register' in request.GET %}
                        <p style="color:green;">
                            Usuário registrado corretamente, pode-se logar.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}