{% extends 'base/base.html' %}
{% load static %}
{% block title %}Resetting the completed password | {{ block.super }}{% endblock %}
{% block cssplus %}<style>#mainNav {background-color: #212529;}</style>{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<main role="main">
    <section class="footer-bottom">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-9 mx-auto">
                    <div class="text-center">
                        <h3 class="text-uppercase mb-4 mt-5">
                            <!--Resetting the completed password-->
                            Redefinição da senha concluída
                        </h3>
                    </div>
                    <p>
                        <!--Your password has been established. Now you can -->
                        Sua senha foi restabelecida. Agora você pode fazer o
                        <a href="{% url 'login' %}">Login</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}