{% extends 'base/base.html' %}
{% load static %}
{% block title %}Write the new password | {{ block.super }}{% endblock %}
{% block cssplus %}<style>#mainNav {background-color: #212529;}</style>{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
    <section class="footer-bottom">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-9 mx-auto">
                    {% if validlink %}
                        <form action="" method="post">{% csrf_token %}
                            <div class="text-center">
                                <h3 class="text-uppercase mb-4 mt-5">
                                    <!--Write the new password-->
                                    Digite a nova senha
                                </h3>
                            </div>
                            <p>
                                <!--Please enter your new password twice to verify that you have written it correctly.-->
                                Por favor, digite sua nova senha duas vezes para verificar se digitou corretamente.
                            </p>
                            {{form.new_password1.errors}}
                            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="New password"></p>
                            {{form.new_password2.errors}}
                            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Confirm new password"></p>
                            <p><input type="submit" class="btn btn-primary btn-block col-md-2 mx-auto" value="Confirmar"></p>
                        </form>
                    {% else %}
                        <div class="text-center">
                            <h3 class="text-uppercase mb-4 mt-5">
                                <!--Resetting failed passwords-->
                                Redefinição de senha com falha
                            </h3>
                        </div>
                        <p>
                            <!--The password reset link was invalid, probably because it was used before. Please request a new password reset -->
                            O link de redefinição de senha era inválido, provavelmente porque foi usado antes. Por favor, solicite uma nova redefinição de senha 
                            <a href="{% url 'password_reset' %}"><!--here-->aqui</a>.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}