{% extends 'base/base.html' %}
{% load static %}
{% block title %}Reset password sent | {{ block.super }}{% endblock %}
{% block cssplus %}<style>#mainNav {background-color: #212529;}</style>{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<main role="main">
    <section class="footer-bottom">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-9 mx-auto">
                    <div class="text-center">
                        <h3 class="text-uppercase mb-4 mt-5">
                            <!--Reset password sent-->
                            Redefinição de senha enviada
                        </h3>
                    </div>
                    <p>
                        <!--We have sent you by email the instructions to reset the password, if there is an account with the email address indicated. I should receive them shortly.-->
                        Enviamos a você por e-mail as instruções para redefinir a senha, se houver uma conta com o endereço de e-mail indicado. Você deveria recebê-as em breve.
                    </p>
                    <p>
                        <!--If you do not receive an email, please make sure you have entered the email address with which you registered and verify your <b>spam</b> folder.-->
                        Se você não recebeu um e-mail, verifique ter inserido o endereço de e-mail com o qual se registrou e verifique sua pasta de <b>spam</b>.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}